.login-page {
  height: calc(100vh - $header-height);
  @include flex(center, center, column);

  .login-header {
    text-align: center;
    width: 100%;
    padding: 1rem;
  }

  .login-form {
    text-align: center;
    width: 400px;
    border-radius: 0.5rem;
    padding: 1.5rem;
    @include flex(center, space-evenly, column);
    justify-content: space-evenly;

    .logo {
      max-width: 100%;
      height: auto;
      margin-bottom: 1.5rem;
    }

    &.signup-form {
      width: 600px;
    }
  }
}
