.navbar {
  background-color: $color--white;
  padding: 10px 30px;
  height: $header-height;
  border-bottom: 1px solid $divider-color;
  position: sticky;
  top: 0;
  z-index: 100;

  .logo {
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;

    .swift-color {
      color: $color--orange;
    }

    .ng-fa-icon {
      transition: transform 0.3s ease;
      display: inline-block;
      transform-origin: center;
      margin-right: 1rem;
    }

    &:hover {

      .ng-fa-icon {
        transform: rotate(360deg);
      }
      .swift-color {
        color: $color--black;
      }
      transform: scale(1.1);
    }

  }
  
  .logo-lg {
    width: 300px;
    cursor: pointer;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    height: 2rem;

    #hamburger-toggle, 
    .hamburger {
      display: none;
    }

    .menu {
      display: flex;
    }

    .menu-item, 
    .search-icon {
      color: $theme-dark;
      transition: background-color 0.1s, color 0.3s, box-shadow 0.3s;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1rem;
      margin-right: 1.25rem;

      &:hover {
        background-color: $color--lightgrey;
        box-shadow: 0 0 1rem rgba(0,0,0, 0.2);
      }
    }

    .search-icon {
      border-radius: 0 20px 20px 0;
      background-color: $hover-bg-dark;
      color: $color--white;

      &:hover {
        background-color: $theme-dark;
      }
    }

    .search-container {
      position: relative;
      display: inline-block;
      height: 100%;

      .search-input {
        background-color: $color--white;
        outline: none;
        border: none;
        padding: 0 0.25rem 0 1rem;
        width: 250px;
        border-radius: 1.25rem 0 0 1.25rem;
        border: 1px solid $theme-dark;
        height: 100%;
        z-index: 10;
        transition-duration: box-shadow 0.4s;
        font-size: 0.8rem;

        &:focus {
          box-shadow: 0 0 0.5rem rgba($color--black, 0.3);
          border: 1px solid $theme-dark;
        }
      }
    }

    .search-container:focus-within + .search-icon {
      border-radius: 0 20px 20px 0;
      background-color: $theme-dark;
      color: $color--white;
    }
  }

  @media (max-width: 768px) {
    .nav-links {
      
      .hamburger {
        display: block;
        cursor: pointer;
        z-index: 101;
      }

      .menu {
        display: none;
      }

    }
  }
}

/* Offcanvas */
.offcanvas {

  &.offcanvas-end {
    width: 100vw;

    .sidepanel-menu {
      @include flex(center, space-evenly, column);
      height: 100%;
      list-style: none;

      .sidepanel-menu-item a {
        @include flex;
        gap: 1rem;
      }
    }
  }
  
}