.navbar {
  background-color: $color--white;
  padding: 10px 30px;
  height: $header-height;
  border-bottom: 1px solid $divider-color;

  .logo {
    width: 150px;
    cursor: pointer;
  }
  
  .logo-lg {
    width: 300px;
    cursor: pointer;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    height: 2rem;

    #hamburger-toggle, 
    .hamburger {
      display: none;
    }

    .menu {
      display: flex;
    }

    .menu-item, 
    .search-icon {
      color: $theme-dark;
      transition: background-color 0.3s, color 0.3s;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1rem;
      margin-right: 1.25rem;

      &:hover {
        background-color: $hover-bg-light;
      }
    }

    .search-container {
      position: relative;
      display: inline-block;
      height: 100%;

      .search {
        position: absolute;
        background-color: white;
        outline: none;
        border: none;
        padding: 0;
        width: 0;
        height: 100%;
        z-index: 10;
        transition-duration: 0.4s;
        font-size: 0.8rem;

        &:focus {
          width: 350px;
          padding: 0 16px 0 0;
        }
      }

      .expandright {
        left: auto;
        right: 0;

        &:focus {
          padding: 0 0.25rem 0 1rem;
          border-radius: 1.25rem 0 0 1.25rem;
          border: 1px solid $theme-dark;
        }
      }
    }

    .search-container:focus-within + .search-icon {
      border-radius: 0 20px 20px 0;
      background-color: $theme-dark;
      color: $color--white;
    }
  }

  @media (max-width: 768px) {
    .nav-links {
      
      .hamburger {
        display: block;
        cursor: pointer;
        z-index: 101;
      }

      input[type="checkbox"] {
        
        &:checked ~ .menu {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          top: $header-height;
          left: 0;
          width: 100%;
          background-color: $color--white;
          border: 1px solid $divider-color;
          padding: 20px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          z-index: 100;
        }
      }

      .menu {
        display: none;
      }
    }
  }
}
