<div class="login-page">
  <div class="login-form">
    <img src="./../../../../assets/images/swiftbuy.png" class="logo" alt="Logo" />
    <form [formGroup]="loginForm">
      <mat-form-field>
        <input matInput 
            placeholder="Email" 
            name="username" 
            formControlName="username" 
            required>
      </mat-form-field>
      <mat-form-field>
        <input matInput 
            type="password" 
            placeholder="Password" 
            name="password" 
            formControlName="password" 
            required>
      </mat-form-field>
      <button 
          mat-button 
          mat-raised-button 
          class="button" 
          [disabled]="loginForm.invalid">
          Login
        </button>
    </form>
    <hr>
    <div>OR</div>
    <hr>
    <button mat-button mat-raised-button class="button">
      <fa-icon [icon]="['fab', 'google']"></fa-icon>
      Login With Google
    </button>
  </div>
</div>
