<div class="container">
  <form class="row" [formGroup]="productForm">
    <div class="col-md-12" formArrayName="productImages">
      <div class="row" *ngFor="let item of productImages['controls']; let i = index"
          [formGroupName]="i">
          <div class="col-md-9">
            <mat-form-field>
              <input matInput placeholder="Image {{i + 1}}" formControlName="image">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <button 
                *ngIf="productImages.length > 1"
                class="button button--secondary me-2"
                type="button" 
                (click)="removeImage(i)">
              <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            </button>
            <button
                *ngIf="i == productImages.length - 1"
                class="button button--primary"
                type="button" 
                (click)="addImage()">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            </button>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field>
        <input matInput placeholder="Brand" formControlName="brand">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field>
        <input matInput placeholder="Color" formControlName="color">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <!-- <mat-form-field>
        <input matInput placeholder="Gender" formControlName="topLevelCategory">
      </mat-form-field> -->
      <mat-form-field>
        <mat-label>Product Target</mat-label>
        <mat-select formControlName="topLevelCategory">
          <mat-option 
              *ngFor="let cat of categories" 
              [value]="cat.id">
            {{ cat.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="secondLevelCategory">
          <mat-option *ngFor="let category of selectedTopLevelCategory?.subcategories" [value]="category.id">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field> 
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Sub Category</mat-label>
        <mat-select formControlName="thirdLevelCategory">
          <mat-option *ngFor="let category of selectedSecondLevelCategory?.subcategories" [value]="category.id">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field>
        <textarea matInput rows="4" placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field>
      <input matInput type="number" placeholder="Price" formControlName="price">
      <span matPrefix>₹&nbsp;</span>
    </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="mb-0">
        <input matInput type="number" placeholder="MRP" formControlName="mrp">
        <span matPrefix>₹&nbsp;</span>
      </mat-form-field>
      <!-- show error if price > mrp -->
      <mat-error *ngIf="productForm.get('price')?.value > productForm.get('mrp')?.value">
        Price cannot be greater than MRP
      </mat-error>
    </div>
    <div class="col-md-3">
      <mat-form-field>
        <input matInput type="number" placeholder="Discount" formControlName="discount">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field>
        <input matInput type="number" placeholder="Stock" formControlName="quantity">
      </mat-form-field>
    </div>
    <div class="col-md-12">
        <button type="submit"
            class="me-2 button button--tertiary"
            (click)="onDiscard()">
          Discard
        </button>
        <button type="submit"
          class="button button--primary"
          (click)="onSubmit()">
        Save Product
      </button>
    </div>
  </form>
</div>
