<footer>
  <div class="row">
    <div class="col-md-4 mb-2">
      <h3 class="mb-3">About SwiftBuy</h3>
      <a class="d-block mb-3" href="#">About Us</a>
      <a class="d-block mb-3" href="#">Privacy Policy</a>
      <a class="d-block mb-3" href="#">Terms of Use</a>
    </div>
    <div class="col-md-4 mb-2">
      <h3 class="mb-3">Contact Us</h3>
      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    </div>
    <div class="col-md-4 mb-2">
      <h3 class="mb-3">Shop</h3>
      <a class="d-block mb-3" href="#">Shop By Category</a>
      <a class="d-block mb-3" href="#">Shop By Brand</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">© 2023 SwiftBuy. All rights reserved.</p>
    </div>
  </div>
</footer>