/* Flex Helpers */
.flex-center {
  @include flex();
}

.flex-end {
  @include flex($align-items: flex-end);
}

.flex-start {
  @include flex($align-items: flex-start);
}

/* Text Helpers */
.text-small {
  font-size: 0.75rem;
}

.image-contain {
  object-fit: contain;
  aspect-ratio: 1/1;
}