<h3 class="mb-4 d-flex justify-content-between">
  Filters
  <fa-icon [icon]="['fas', 'filter']"></fa-icon>
</h3>
<div *ngFor="let filter of multiSelectFilter; let last=last">
  <div class="fw-bold mb-2">{{filter.name}}</div>
  <div class="px-2 py-1" *ngFor="let option of filter.options">
    <mat-checkbox color="primary" 
        [value]="option.value" 
        [id]="'filter-' + option.value"
        [name]="filter.id"
        (click)="multiSelectFilterChange(option.value, filter.id)">
      {{option.label}}
    </mat-checkbox>
  </div>
  <hr *ngIf="!last">
</div>

