<div class="container-fluid">
  <div class="login-page">
    <div class="login-header">
      <h2>Hello, Please Sign in or
        <a class="link" routerLink="/register">Create an Account</a>
      </h2>
    </div>
    <div class="login-form">
      <hr>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="fill">
          <input matInput 
              placeholder="Email" 
              name="username" 
              formControlName="username" 
              required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput 
              type="password" 
              placeholder="Password" 
              name="password" 
              formControlName="password" 
              required>
        </mat-form-field>
        <button 
            mat-button 
            mat-raised-button 
            class="w-100 button button--primary" 
            [disabled]="loginForm.invalid">
            Login
          </button>
      </form>
      <div class="my-4">OR</div>
      <button mat-button mat-raised-button class="w-100 button button--primary">
        <fa-icon class="me-2" [icon]="['fab', 'google']"></fa-icon>
        Login With Google
      </button>
    </div>
  </div>
</div>
