<div class="container-fluid">
  <nav class="navbar">
    <div class="left-navigation">
      <div class="logo" routerLink="/">
        <fa-icon [icon]="['fas', 'store']"></fa-icon>
        <span class="swift-color">swift</span>buy
      </div>
    </div>
  </nav>
  <div class="login-page">
    <div class="login-header">
      <h2>Hello, Please Sign in or
        <a class="link" routerLink="/register">Create an Account</a>
      </h2>
    </div>
    <div class="login-form">
      <hr>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="fill">
          <input matInput 
              placeholder="Email" 
              name="username" 
              formControlName="username" 
              required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput 
              [type]="hide ? 'password' : 'text'"
              placeholder="Password" 
              name="password" 
              formControlName="password" 
              required>
            <button mat-icon-button 
                matSuffix 
                (click)="hide = !hide" 
                [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="hide">
              <mat-icon>
                <fa-icon *ngIf="hide" [icon]="['fas', 'eye']"></fa-icon>
                <fa-icon *ngIf="!hide" [icon]="['fas', 'eye-slash']"></fa-icon>
              </mat-icon>
            </button>
        </mat-form-field>
        <button 
            mat-button 
            mat-raised-button 
            class="w-100 button button--primary" 
            [disabled]="loginForm.invalid">
            Login
          </button>
      </form>
      <div class="my-4">OR</div>
      <button mat-button mat-raised-button class="w-100 button button--primary">
        <fa-icon class="me-2" [icon]="['fab', 'google']"></fa-icon>
        Login With Google
      </button>
    </div>
  </div>
</div>
