<h3 class="mb-4 d-flex justify-content-between">
  Filters
  <fa-icon [icon]="['fas', 'filter']"></fa-icon>
</h3>
<div>
  <label>Price range</label>
  <div class="p-2">
    <mat-slider min="200" max="500" color="primary" class="w-100">
      <input value="300" matSliderStartThumb>
      <input value="400" matSliderEndThumb>
    </mat-slider>
  </div>

  <label>Brand</label>
  <div class="p-2">
    <mat-checkbox color="primary" class="w-100">Adidas</mat-checkbox>
    <mat-checkbox color="primary" class="w-100">Nike</mat-checkbox>
    <mat-checkbox color="primary" class="w-100">Puma</mat-checkbox>
    <mat-checkbox color="primary" class="w-100">Reebok</mat-checkbox>
    <mat-checkbox color="primary" class="w-100">Woodland</mat-checkbox>
  </div>

  <label>Color</label>
  <div class="p-2">
    <mat-checkbox color="primary" class="w-100">Black</mat-checkbox>
    <mat-checkbox color="primary" class="w-100">White</mat-checkbox>
    <mat-checkbox color="primary" class="w-100">Red</mat-checkbox>
    <mat-checkbox color="primary" class="w-100">Blue</mat-checkbox>
    <mat-checkbox color="primary" class="w-100">Green</mat-checkbox>
  </div>

  <label>Discount</label>
  <div class="p-2">
    <mat-checkbox color="primary" class="w-100">30% or more</mat-checkbox>
    <mat-checkbox color="primary" class="w-100">40% or more</mat-checkbox>
    <mat-checkbox color="primary" class="w-100">50% or more</mat-checkbox>
    <mat-checkbox color="primary" class="w-100">60% or more</mat-checkbox>
    <mat-checkbox color="primary" class="w-100">70% or more</mat-checkbox>
  </div>

</div>

