.card-container {
  overflow: auto hidden;
  width: 100%;
  @include flex;
  background-color: $color--extra-lightgrey;
  padding: 10px;

  .destination {
    height: 100%;
    flex-grow: 1;
    // background-color: $color--lightgrey;
    height: 300px;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .card {
    border: none;
    margin-right: 1rem;
    display: inline-block;
    background-color: $color--extra-lightgrey;
    flex: 1 0 200px;
    flex-wrap: nowrap;
    cursor: pointer;
    text-align: center;

    .card-img-top {
      mix-blend-mode: darken;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.product-card {

  &.card {
    @include flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    background-color: $theme-light;
    border: none;
    transition: all 0.3s ease-in-out;
    text-align: center;
    cursor: pointer;
    height: 100%;

    .card-img-top {
      padding: 0.5rem;
      mix-blend-mode: darken;
      aspect-ratio: 4/3;
      object-fit: contain;
    }

    &:hover {
      box-shadow: 0 0 1rem rgba($color--black, 0.2);
    }

    .favourite-icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      color: $color--grey;

      .svg-inline--fa {
        font-size: 1.5rem;
      }
    }
  }
}