// custom horizontal scrollbar
::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: $color--lightgrey;
  border-radius: 100vw;
  margin-block: 0.25em;
}

::-webkit-scrollbar-thumb {
  background: $color--darkgrey;
  border: 0.1em solid $theme-light;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: $theme-dark;
}

// custom scrollbar width
.thin-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
}