<div class="row p-4 align-items-center border-bottom" *ngFor="let item of cartItems">
  <div class="col-md-3">
    <img class="img-fluid" [src]="item.product.productImages[0].image">
  </div>
  <div class="col-md-9">
    <h2 class="mb-2 link" [routerLink]="'/product/' + item.product.id">{{item.product.title}}</h2>
    <h4 class="text-muted mb-2">{{item.product.brand}}</h4>
    <span class="text-decoration-line-through me-2">{{(item.product.mrp * item.quantity) | currency : 'INR' : 'symbol' : '1.2-2'}}</span> 
    <strong class="me-2">{{(item.product.price * item.quantity) | currency : 'INR' : 'symbol' : '1.2-2'}}</strong>
    <strong class="text-success">{{item.product.discount}}% off</strong> 
    <div class="d-flex my-2 align-items-center">
      <div class="input-group w-25 me-4">
        <div class="input-group-prepend me-2">
          <button class="btn btn-outline-secondary"
              [disabled]="item.quantity == 1"
              type="button" 
              (click)="reduceProductQuantity(item)">
            <fa-icon [icon]="['fas', 'minus']"></fa-icon>
          </button>
        </div>
        <input type="text" 
            class="form-control text-center rounded" 
            [value]="item.quantity">
        <div class="input-group-append ms-2">
          <button class="btn btn-outline-secondary" type="button" (click)="increaseProductQuantity(item)">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          </button>
        </div>
      </div>
      <button class="button button--secondary" (click)="removeFromCart(item)">
        <fa-icon class="me-2" [icon]="['fas', 'trash']"></fa-icon>
        Remove
      </button>
    </div>
  </div>
</div>