<div id="carouselBanner" class="carousel slide carousel-fade" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <!-- <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="20000">
      <img src="./../../../../../assets/images/Carousel/carousel1.jpg" class="img-fluid w-100">
      <div class="carousel-caption caption1">
        <h5>Fashion Forward: Unveil the New You</h5>
        <p>Step into a World of Fashion Finesse - Unleash Your Inner Fashionista with Trendsetting Attire!</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="20000">
      <img src="./../../../../../assets/images/Carousel/carousel2.jpg" class="img-fluid w-100">
      <div class="carousel-caption caption2">
        <h5>Embrace Elegance: Shop the Finest</h5>
        <p>Curated Selection of Fashion Elegance - Elevate Your Look with the Epitome of Style!</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>