// Basic colors
$color--white:                      #FFFFFF;
$color--black:                      #000000;
$color--extra-lightgrey:            #F9F9F9;
$color--lightgrey:                  #EAEAEB;
$color--grey:                       #8F8F95;
$color--darkgrey:                   #4B4B4F;
$color--purple:                     #A787F0;
$color--blue:                       #3498db;
$color--darkblue:                   #2980b9;
$color--red:                        #e74c3c;
$color--darkred:                    #c0392b;
$color--orange:                     #ffc533;
$color--darkorange:                 #f39c12;
$color--green:                      #2ecc71;

// Loader Colors


// Theme Color Variables
$theme-light: $color--extra-lightgrey; // Adjusted to a softer light gray
$theme-dark: $color--black; // Adjusted to your logo's color

// Accent Colors
$accent-primary: $color--blue; // A soothing blue for primary accents
$accent-secondary: $color--red; // A vibrant red for secondary accents
$accent-tertiary: $color--orange; // A deep orange for tertiary accents

// Hover Effects
$hover-bg-dark: #333333; // Dark gray for hover effect on dark theme
$hover-bg-light: #cccccc; // Light gray for hover effect on light theme

// Dashboard and Product Listings
$dashboard-bg: $theme-light; // Light gray for the dashboard background
$product-bg: $color--white; // White for the product listings background
$text-color: #333333; // Dark gray for text and typography

// Link Styles
$link-color: $accent-primary; // Use primary accent color for links
$link-hover-color: $color--darkblue; // Use secondary accent color for link hover

// Divider and Border Colors
$divider-color: #e9ecef; // Light gray for borders and dividers

