// Height Variables
$header-height: 60px;

//Loader variables
$loader--width: 250px;
$loader-dot--size: 20px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;