<section>
  <div class="card-container vertical-scroll">
    <div class="destination">
      <h2>
          Popular destinations<br> for Men
          <fa-icon [icon]="['fas', 'mars']"></fa-icon>
      </h2>
    </div>
    <div class="card" *ngFor="let category of menCategories" routerLink="./category/{{category.id}}">
      <img src="{{category.image}}" class="card-img-top img-fluid" alt="{{category.name}}">
      <div class="card-body">
        <h5 class="card-title">{{category.name}}</h5>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="card-container">
    <div class="destination">
      <h2>
        Popular destinations<br> for Women
        <fa-icon [icon]="['fas', 'venus']"></fa-icon>
      </h2>
    </div>
    <div class="card" *ngFor="let category of womenCategories" routerLink="./category/{{category.id}}">
      <img src="{{category.image}}" class="card-img-top img-fluid" alt="{{category.name}}">
      <div class="card-body">
        <h5 class="card-title">{{category.name}}</h5>
      </div>
    </div>
  </div>
</section>